bin/
obj/
.vs/
*.user
data/uploads/**
!data/uploads/.gitkeep
frontend/node_modules/
frontend/dist/
.env
*.log

# Local secrets
**/appsettings.Development.json
**/appsettings.Local.json

backend/src/DesfudenciFy.Api/appsettings.json
backend/src/DesfudenciFy.Api/appsettings.Production.json
docker-compose.production.yml
